body {
  background-color: black;
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

.error{
  color: red;
  font-weight: 200;
  margin-left: 1px;
}

*,
::before,
::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.cards {
  --card-bg-color: #2e2e2e;
  --border-radius: 15px;
  background: var(--card-bg-color);
  width: 300px;
  height: 400px;
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 0;
  overflow: hidden;
  border-radius: var(--border-radius);
}

.card_inner {
  color: white;
  --border-size: 5px;
  width: calc(100% - var(--border-size));
  height: calc(100% - var(--border-size));
  background: var(--card-bg-color);
  position: absolute;
  border-radius: var(--border-radius);
}

.card_inner::before {
  --width: 50%;
  --height: 135%;
  width: var(--width);
  height: var(--height);
  top: calc(50% - var(--height) / 2);
  left: calc(50% - var(--width) / 2);
  content: "";
  position: absolute;
  background: linear-gradient(
    130deg,
    rgba(255, 132, 0, 1) 25%,
    rgba(245, 255, 0, 1) 96%
  );
  z-index: -1;
  filter: blur(20px);
  animation: rotate 3s linear infinite;
}

@keyframes rotate {
  100% {
    transform: rotate(360deg);
  }
}

.post-card {
  width: 500px;
  margin: auto;
  border-radius: 10px;
  overflow: hidden;
}
.post-card img {
  width: 100%;
}
.profile-img {
  width: 40px;
  height: 40px;
  border-radius: 50%;
  object-fit: cover;
}
.icons i {
  cursor: pointer;
  font-size: 1.5rem;
  margin-right: 15px;
}

input::placeholder {
  color: grey !important; /* Change this to your desired color */
  opacity: 1;
}
